In [1]:
import pandas as pd
from scipy import stats 
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
import statsmodels.api as sm 
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets,linear_model,metrics
from sklearn.metrics import mean_squared_error,confusion_matrix,accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor 
from sklearn.datasets import make_classification
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier,RandomForestClassifier
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,RandomForestRegressor

In [2]:
data=pd.read_csv("C:/Users/sudarson.SUDARSON/Downloads/archive/train.csv")

In [3]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [5]:
data.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [6]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [7]:
data.Product_Category_2.unique()

array([nan,  6., 14.,  2.,  8., 15., 16., 11.,  5.,  3.,  4., 12.,  9.,
       10., 17., 13.,  7., 18.])

In [8]:
data.Product_Category_3.unique()

array([nan, 14., 17.,  5.,  4., 16., 15.,  8.,  9., 13.,  6., 12.,  3.,
       18., 11., 10.])

In [9]:
data.Product_Category_2.fillna(data.Product_Category_2.fillna("others"),inplace=True)

In [10]:
#data.Product_Category_3.fillna(data.Product_Category_3.mode().max(),inplace=True)

In [11]:
data.isnull().mean()

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.000000
Product_Category_3            0.696727
Purchase                      0.000000
dtype: float64

In [12]:
x=data.iloc[0:,2:10]
y=data.Purchase

In [13]:
x.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2
0,F,0-17,10,A,2,0,3,others
1,F,0-17,10,A,2,0,1,6.0
2,F,0-17,10,A,2,0,12,others
3,F,0-17,10,A,2,0,12,14.0
4,M,55+,16,C,4+,0,8,others

In [14]:
trainx,testx = train_test_split(x,test_size = 0.2)
trainy,testy = train_test_split(y,test_size = 0.2)

In [15]:
#dummy=pd.get_dummies(x,columns=["Occupation"])
dummy=pd.get_dummies(x)

In [16]:
dummy

,Occupation,Marital_Status,Product_Category_1,Gender_F,Gender_M,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,...,Product_Category_2_10.0,Product_Category_2_11.0,Product_Category_2_12.0,Product_Category_2_13.0,Product_Category_2_14.0,Product_Category_2_15.0,Product_Category_2_16.0,Product_Category_2_17.0,Product_Category_2_18.0,Product_Category_2_others
0,10,0,3,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,10,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10,0,12,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,10,0,12,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,16,0,8,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,13,1,20,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550064,1,0,20,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
550065,15,1,20,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
550066,1,0,20,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550067,0,1,20,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [17]:
scaler=MinMaxScaler()

In [18]:
model=scaler.fit(dummy)

In [19]:
d=model.transform(dummy)

In [20]:
df=pd.DataFrame(d)

In [21]:
dummy.head()

,Occupation,Marital_Status,Product_Category_1,Gender_F,Gender_M,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,...,Product_Category_2_10.0,Product_Category_2_11.0,Product_Category_2_12.0,Product_Category_2_13.0,Product_Category_2_14.0,Product_Category_2_15.0,Product_Category_2_16.0,Product_Category_2_17.0,Product_Category_2_18.0,Product_Category_2_others
0,10,0,3,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,10,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10,0,12,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,10,0,12,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,16,0,8,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
trainx,testx=train_test_split(df,test_size=0.2)

<h1>LINEAR REGRESSION<h1>

In [27]:
reg = LinearRegression().fit(trainx,trainy)

In [28]:
reg.predict(testx)

array([9339., 9252., 9199., ..., 9178., 9278., 9280.])

<h1> Decision Tree Regressor<h1>

In [29]:
reg1 = DecisionTreeRegressor(random_state=0).fit(trainx,trainy)

In [30]:
reg1.predict(testx)

array([2113.        , 4709.25      , 6073.25      , ..., 8658.4       ,
       8696.        , 8615.64035088])

<h1>Random Forest Regressor<h1>

In [32]:
reg3 = RandomForestRegressor(max_depth=2, random_state=0).fit(trainx,trainy)

In [33]:
reg3.predict(testx)

array([9264.97474158, 9229.81986519, 9224.1751281 , ..., 9246.04245489,
       9275.08062741, 9267.53926978])

<h1>Ada Boost Regressor<h1>

In [34]:
regr = AdaBoostRegressor(random_state=0, n_estimators=100).fit(trainx,trainy)

In [35]:
regr.predict(testx)

array([10049.21514929,  9964.82757682, 10110.55174285, ...,
        9964.82757682, 10049.21514929, 10049.21514929])

<h1>Gradient Boosting Regressor<h1>

In [36]:
clf = GradientBoostingRegressor(random_state=0).fit(trainx,trainy)

In [37]:
clf.predict(testx)

array([9369.87542573, 9170.79007047, 9087.44808399, ..., 9188.07679136,
       9301.03602351, 9189.04785409])

In [39]:
print("LinearRegression          = ",reg.score(testx,testy))
print("Decision Tree Regressor   = ",reg1.score(testx,testy))
print("RandomForestRegressor     = ",reg3.score(testx,testy))
print("AdaBoostRegressor         = ",regr.score(testx,testy))
print("GradientBoostingRegressor = ",clf.score(testx,testy))

LinearRegression          =  -6.309853238062324e-05
Decision Tree Regressor   =  -0.22809341359761182
RandomForestRegressor     =  -1.0382153981858266e-05
AdaBoostRegressor         =  -0.02422625049615723
GradientBoostingRegressor =  -0.00012891672762904705